
.displaynone{
    width: 75%;
    min-height: 500px;
    border:1px solid black;
    display:none;
}
.displayinline{
    display: inline;
    color: red;
    border: 1px solid black;
    width: 70%;/* al tratarse del valor inline de la propiedad display, no es posible establecer un ancho. tampoco alto,margenes,float*/

}
.pruebasimg{
    width: 60%;
    border: 5px solid red;
    box-sizing: border-box;
}
.displayinlineblock{
    width: 49%;/*automaticamente se añade un espacio entre elementos inline */
    border: 1px solid aquamarine;
    display: inline-block;
    box-sizing: border-box;
}
.capaoculta{
    width: 80%;
    min-height:600px ;
    border:2px solid black;
    visibility: hidden;
}